__pycache__/
*.pyc
.pytest_cache/
.venv/
.env
.env.*
*.env
!.env.example
*.pem
*.key
*.log

backend/.env
frontend/.env.local

frontend/.next/
frontend/node_modules/

**/README.md
!/README.md

.DS_Store
